@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu&family=Noto+Serif+Telugu:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family:"Noto Sans Telugu", "Noto Serif Telugu", "Poppins Regular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
